body{
    margin: 0;
    font-family: san-serif;
    background-image: url("Images/Background.png");
    background-position:center;
    background-size: cover;
}
h3{
    text-align: center;
    font-size: 30px; 
    margin: 0;
    padding-top: 10px;
}
a{
    text-decoration: none;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
.content{
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
    transition: .4;
    background: #ffffff;

}
.content:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16),
    0 3px 6px rgba(0,0,0,0.23);
    transform: translate(0px,-8px);

}
img{
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;
}
p{
    text-align: center;
    color:#b2bec3;
    padding-top: 0 8px;

}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

}
li{
    padding-top: 5px;
}
.fa{
    font-size: 26px;
    transition: .4s;
    

}
.checked{
    color: #ff9f43;
}
.fa:hover{
    transform: scale(1,3);
    transition: .6;
}
button{
    text-align: center;
    font-size: 24px;
    color: #fff;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.barber{
    background: turquoise;
}
.photography{
    background: yellowgreen;
}
.delivery{
    background: #ff0000;
}
.art{
    background: #ff9f43;
}
@media(max-width:1000px){
    .content{
        width: 45%;
    }
}
@media(max-width:750px){
    .content{
        width: 100%;
    }
}

.Gallery{
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.contains{
    background-color: #f68a9b;
    display: flex;
    text-align: center;
    align-items: center;
    margin: 145px;
    border-radius: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
    
}
.contains p{
    color: #0b0b0b;
    display: flex;
    font-size: 25px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}
.pageHeader
{
color: #202020;
margin: auto;
text-align: center;
font-size:28px;
font-family:'Cardio';
}

h4{
    text-align: center;
    font-size: 40px; 
    margin-top: 100px;
    margin-bottom: -130px;
    padding-top: 10px;
}

.layers {
    display: flex;
    justify-content: center;
}

.layers p{
    color: #0b0b0b;
    background-color: #f68a9b;
    margin: 30px;
    height: 170px;
    padding: 30px;
    border-radius: 20px;
    padding-top: 100px;
}

.footer{
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}